.button {
  transition: 0.8s;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-image: linear-gradient(
    325deg,
    var(--second-blue) 0%,
    var(--main-blue) 55%,
    var(--main-blue) 90%
  );
  background-size: 280% auto;
  font-size: 1.6rem;
  color: var(--main-white);
}

.button:hover {
  background-position: right top;
}

.newProductsCard__icon {
  margin-right: 0.4rem;
  vertical-align: top;
}

@media (max-width: 768px) {
  .button {
    font-size: 1.4rem;
  }
}
